<!--New entry type, that allows user to create a post, that consist of a title and body of text-->
<!--It is a from to upload and submit data to db-->

{% extends 'base.html' %}

{% block content %}

<!--A function to refresh page, when cancel button is pushed. The aim is to cancel the changes user has done.-->
<script>


function refreshpage() {
  window.location.reload();

}


</script>

 
    
    <div class="container" id="UploadPlacement">
    
      <div class="row">
        <div class="col">
        
          <h1 style="color:white">New post</h1>
    
        </div>
      </div>
    


        <div class="row">
          <div class="col">
    
        
          <form method="post" enctype="multipart/form-data">

            <div class="container mt-4 mb-4">
                <div class="row justify-content-md-center">
                  <div class="col-md-12 col-lg-12">

                    <div class="form-group">
                      <input autocomplete="off" autofocus class="form-control" name="title" id="title" placeholder="Title" type="text" value="{{ request.form['title'] }}" style="width: 100%;" required>
                    </div>
                    
                    <div class="form-group">
                      <textarea name="body" placeholder="Leave a comment here" id="body">{{ request.form['body'] }}</textarea>
                    </div>

                   
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" style="margin-bottom: 20px; margin-top: 20px;" onclick="refreshpage()">Cancel</button>
                   

                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div> 
{% endblock %}