<!--User updating an comment -->
<!--Title and body of text can be edited -->
{% extends 'base.html' %}

{% block content %}
<script>
  // To see the name of the imagien without the full directory
  function pr() {
    var path = document.getElementById('image').value;
    var filename = path.replace(/^.*\\/, "");
    document.getElementById("result").innerHTML = filename;
  };

  // if no file has been chosen, then have a Select file line.
  function SelectFileText() {
    document.getElementById("result").innerHTML = "Select image...";
  }

  function preview() {
    frame.src = URL.createObjectURL(event.target.files[0]);
  }

  function refreshpage() {
    window.location.reload();
  }


</script>
<div class="container" id="UploadPlacement" style="padding-top:20px;">
  <div class="row">
    <div class="col">
      <h1 style="color:white">Edit "{{ comment['comment_title'] }}"</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group">
          <input autocomplete="off" autofocus class="form-control" name="title" id="title" placeholder="Title"
            type="text" value="{{ request.form['title'] or comment['comment_title'] }}" style="width: 100%;" required>
          <input type="hidden" name="post_id" value="{{comment['OG_post_id']}}">
        </div>
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" name="body" id="body"
            style="width: 100%; height: 400px;">{{ request.form['body'] or comment['comment_body'] }}</textarea>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" type="submit">Save</button>
      <a type="button" class="btn btn-secondary" href="{{ url_for('blog.index') }}"> Cancel </a>
      </form>
    </div>
  </div>
</div>
{% endblock %}