 <!-- REGISTER page for new users -->
{% extends 'base.html' %}

{% block content %}

<!-- Form to recieve username and password for db entry -->
<!-- pt-4 is from Bootstrap and means padding top size 2 -->
<!-- https://getbootstrap.com/docs/4.6/utilities/spacing/ -->
<div class="container pt-2" id="RegisterPlacement">
    
  
  <h1>Register</h1>

    <form method="post" >
      <div class="form-group">
          <!-- required means, that it must be filled to be able to submit. Empthy input field trigger a little pop up to appear with a reminder -->
          <input autocomplete="off" autofocus class="form-control" name="username" id="username" placeholder="Username" type="text" required>
      </div>
      <div class="form-group">
          <input class="form-control" name="password" placeholder="Password" type="password" id="password" required>
      </div>
      <div class="form-group">
        <input class="form-control" name="password2" placeholder="Repeat password" type="password" id="password2" required>
      </div>
      <button class="btn btn-primary" type="submit" value="Register">Register</button>
    </form>

  </div>

{% endblock %}

